* {padding: 0;margin: 0;box-sizing: border-box;}

body {
    background-color: #d5e1ef; 
    font-family: "Outfit", sans-serif;
    min-height: 100vh;
    display: grid;
    align-items: center;
    justify-content: center;
}

.container {
    width: 415px;
    padding: 20px;
    border-radius: 20px;
    background: hsl(0, 0%, 100%);
}

.qr-code-container {width: 100%;}

.qr-code-container img {
    width: 100%;
    border-radius: 15px;
}

.content-container {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    padding: 0 15px;
}

.content-container h1 {
    color: hsl(218, 44%, 22%);
    font-weight: bolder;
    font-size: 1.39rem;
}

.content-container p {
    margin: 20px 10px;
    font-size: 15px;
    color: hsl(220, 15%, 55%);
}

.attribution { margin-top: 50px; font-size: 11px; text-align: center;}
.attribution a { color: hsl(228, 45%, 44%); }

@media (max-width: 420px) {
    .container {margin: auto; width: 80%;}
    .content-container {margin-top: 10px;}
    .content-container h1 { font-size: 18px; margin: 10px 0;}
    .content-container p {margin: 10px;}
}

@media (max-width: 305px) {
    .container {width: 230px;}
    .content-container {margin-top: 5px;}
}